<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center"> About US</h1>
        <div class="p-5 mt-4 bg-secondary-theme">

            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam culpa sit sunt nulla est a ratione voluptatem ea perferendis incidunt iure tempora numquam, iusto, iste assumenda ad odit blanditiis aliquid!
            Corporis deserunt, rem, aspernatur error animi eius culpa, alias aut pariatur incidunt nobis sequi autem veniam ad. Necessitatibus, atque magnam nihil minus voluptates quo unde adipisci! Dolore molestiae omnis deserunt.
            Voluptatem quas iure accusamus, corrupti consequuntur voluptatibus odit eligendi nulla accusantium mollitia. Nam consequuntur sint excepturi animi ducimus aliquam pariatur unde vero voluptatum, voluptas eos minima asperiores. Mollitia, quisquam cum.
            </p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam culpa sit sunt nulla est a ratione voluptatem ea perferendis incidunt iure tempora numquam, iusto, iste assumenda ad odit blanditiis aliquid!
                Corporis deserunt, rem, aspernatur error animi eius culpa, alias aut pariatur incidunt nobis sequi autem veniam ad. Necessitatibus, atque magnam nihil minus voluptates quo unde adipisci! Dolore molestiae omnis deserunt.
                Voluptatem quas iure accusamus, corrupti consequuntur voluptatibus odit eligendi nulla accusantium mollitia. Nam consequuntur sint excepturi animi ducimus aliquam pariatur unde vero voluptatum, voluptas eos minima asperiores. Mollitia, quisquam cum.
            </p>
            <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam culpa sit sunt nulla est a ratione voluptatem ea perferendis incidunt iure tempora numquam, iusto, iste assumenda ad odit blanditiis aliquid!
                Corporis deserunt, rem, aspernatur error animi eius culpa, alias aut pariatur incidunt nobis sequi autem veniam ad. Necessitatibus, atque magnam nihil minus voluptates quo unde adipisci! Dolore molestiae omnis deserunt.
                Voluptatem quas iure accusamus, corrupti consequuntur voluptatibus odit eligendi nulla accusantium mollitia. Nam consequuntur sint excepturi animi ducimus aliquam pariatur unde vero voluptatum, voluptas eos minima asperiores. Mollitia, quisquam cum.
            </p>
            <div class="text-center">
                <button class="btn-info btn-sub"> Back to HOME</button>
            </div>
        </div>
    </div>
</section>