<div class="card mt-5 shadow-effect">
    <div class="card-body">
        <h4>Leave a Comment</h4>
        <p>You can Leave a comment using this comment</p>

        <form>
            <div class="mb-3">
                <label for="name" class="form-label"> Name </label>
                <input type="text" class="form-control shadow-effect" placeholder="Enter your Name">
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <textarea cols="30" rows="10" 
                    class="form-control shadow-effect"
                    placeholder="Add your Comment"
                >
                </textarea>
            </div>

            <button class="btn btn-info btn-sub">Add Comment</button>
        </form>
    </div>
</div>
