.card{
    background-color: var(--secondary-color);
    width: 1200px;
}

input[type="text"], input[type="email"]{
    margin: 10px 30px;
    height: 40px;
    font-size: 13px;
    border: none;
    border-radius: 5px !important;
}


.subs-tetxt{
    font-size: 10px;
}