<div class="card shadow-effect">
    <div class="card-body">
        <div class="text-center m-3">
            <h3>SUBSCRIPTION FORM</h3>
            <p class="m-auto subs-tetxt">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente provident commodi quos. Rem cupiditate aliquam qui officiis quidem nobis repudiandae labore velit ipsa quo assumenda, tempore soluta vel voluptatem vero!
            </p>

            <form class="row mt-3 input-group">
                    <input type="text" class="form-control col-md-5" placeholder="Your Name">
                    <input type="email" class="form-control col-md-5" placeholder="email-id@domain">
                    <button class="btn col-md-2 btn-sub">SUBSCRIBE</button>
            </form>
        </div>
    </div>
</div>
