<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-effect">
                <img src="https://images.pexels.com/photos/92129/pexels-photo-92129.jpeg"
                    alt="post-img"
                    class="rounded-top"
                >
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ms-2"> Featured </small>
                    <small class="bg-light text-info text-center ms-2"> Views - 104,271 </small>
                    <small class="bg-light text-warning text-center ms-2"> LAST UPDATED -Jan 20, 2024</small>
                
                    <h1 class="my-3"> HOW TO START A BLOG IN 2024 EDITED NEW CATEGORY</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae iusto odit possimus similique neque quasi sequi, voluptate vitae at totam, enim aperiam sit 
                        blanditiis suscipit minima maiores laboriosam soluta?

                        A fugiat, eaque in nesciunt explicabo temporibus repudiandae, nam aut velit et neque! 
                          Nam temporibus beatae architecto blanditiis dolores non esse, iste iure vitae, voluptatum aut. Dolorem accusantium placeat aperiam!
                        Explicabo illum, quasi nisi, distinctio officiis impedit animi dolorum consequuntur autem esse quos natus quia doloribus voluptate quae aperiam quibusdam, blanditiis 
                        unde maxime soluta velit? Similique hic quisquam at ratione.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci error dolores quos quasi! Saepe accusantium nam labore sint, eos hic corrupti aperiam impedit, accusamus illo nemo, 
                        rem aspernatur debitis possimus?
                        Eius debitis illum nesciunt deserunt expedita. 
                        Ea quam ipsam error nobis, totam vitae ratione voluptate sunt iure doloribus earum quos. Necessitatibus ducimus doloribus, facilis praesentium neque nam perspiciatis quibusdam iste.
                        Dolorem, obcaecati! Doloremque cum aut animi ipsum deserunt vitae corporis. Numquam ducimus culpa expedita minima sunt commodi fuga maxime? Delectus modi natus vel! Eligendi minima, veritatis fuga incidunt illo et?
                    </p>
                </div>
            </div>

            <app-comment-form></app-comment-form>

            <app-comment-list></app-comment-list>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>

</div>