<div class="card">
    <img src="https://images.pexels.com/photos/381739/pexels-photo-381739.jpeg" 
         alt="post-card-img" 
         class="card-img-tool"
    >
    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-success text-center ms-3"> Featured </small>
        <small class="bg-light text-info text-center ms-3"> Views - 100,235 </small>
        
        <h5 class="mt-1"> HOW TO START A BLOG IN 2021 EDITED NEW CATEGORY</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos expedita exercitationem vel odit, soluta provident doloribus distinctio repellendus necessitatibus voluptatum alias molestias dicta ratione nesciunt sint harum dignissimos quo similique.</p>
        
        <small class="bg-light text-warning text-center ms-3"> LAST UPDATED - SEP 20, 2020</small>
    </div>
</div>
